<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launch>
  <arg name="trans_z" default="0.3"/>
  <param name="robot_description" textfile="$(find nissan_gazebo_sim)/urdf/nissan_leaf.3d.gen.urdf"/>
  <!--Load URDF-->
  <node args="-param robot_description -urdf -model nissanleaf -z $(arg trans_z)" name="spawn_nissan_leaf" pkg="gazebo_ros" type="spawn_model"/>
</launch>
